
<div class="box">
    <h3>
        As an Early Adopter
    </h3>
    <p>
        By becoming a member during this exclusive signup period you will have access to
        top notch medical care and given a premium opportunity to provide valuable feedback.
        Your suggestions and feedback will be important as we at LifeTouch Health grow with
        your family and create a long-term relationship you can find comfort in.
    </p>
</div>
<div class="box">
    <p>
        Care For You is a small team of care professionals committed to providing the highest
        quality in-home attendant care... with heart.
    </p>
    <h3>
        Seconds Save Lives in a Medical Emergency</h3>
    <iframe width="420" height="315" src="http://www.youtube.com/embed/sgWdTu41tzo" frameborder="0"
        allowfullscreen></iframe>
</div>

